{% extends 'cinemaapp/base.html' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        {% if movie.poster %}
            <img src="{{ movie.poster.url }}" class="img-fluid rounded mb-3" alt="{{ movie.title }}">
        {% endif %}
    </div>
    <div class="col-md-8">
        <h2>{{ movie.title }}</h2>
        <p><strong>Жанр:</strong> {{ movie.genre }}</p>
        <p><strong>Продолжительность:</strong> {{ movie.duration }} мин</p>
        <p><strong>Возрастное ограничение:</strong> {{ movie.age_limit }}+</p>
        <p><strong>Описание:</strong><br>{{ movie.description }}</p>
    </div>
</div>

<hr>

<h4>Сеансы:</h4>
{% if sessions %}
    <ul class="list-group">
        {% for session in sessions %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ session.date }} {{ session.time }} ({{ session.hall }})
                <a href="{% url 'book_ticket' session.id %}" class="btn btn-sm btn-success">Забронировать</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Нет доступных сеансов.</p>
{% endif %}
{% endblock %}
